# Project

In [8]:
import pandas as pd 
import numpy as np 
import re 
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix, precision_score, recall_score
import plotly as plt 
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [9]:
print(1+2)

3

In [10]:
print("ceci n'est pas un test")

ceci n'est pas un test

In [11]:
df_competencies = pd.read_csv("../data/competencies.csv", sep=",")
df_jobs = pd.read_csv("../data/jobs.csv", sep=",")

df_jobs["RequiredCompetencies"] = df_jobs["RequiredCompetencies"].apply(lambda x: x.split(";"))

In [12]:
df_competencies.head()

  CompetencyID          Competency  BlockID      BlockName
0          C01       Data cleaning        1  Data Analysis
1          C02  Data visualization        1  Data Analysis
2          C03  Python programming        1  Data Analysis
3          C04          Statistics        1  Data Analysis
4          C05                 SQL        1  Data Analysis

In [13]:
df_jobs.head()

  JobID        JobTitle                               RequiredCompetencies
0   J01    Data Analyst  [C01, C02, C03, C04, C05, C46, C47, C48, C49, ...
1   J02  Data Scientist  [C01, C03, C04, C06, C07, C08, C09, C10, C11, ...
2   J03     ML Engineer  [C03, C06, C07, C08, C09, C10, C11, C12, C13, ...
3   J04    NLP Engineer  [C03, C06, C07, C08, C11, C12, C13, C14, C15, ...
4   J05   Data Engineer  [C03, C21, C22, C23, C24, C25, C26, C27, C28, ...

In [14]:
text="je suis un  ,   chocolat"

tokens = word_tokenize(text)

print(tokens)

['je', 'suis', 'un', ',', 'chocolat']